* {
	box-sizing: border-box;
}

.container {
	border: 1px solid darkgray;
}

.animate {
	height: 6em;
	width: 10em;
	background: rgb(94, 53, 53);
	border: 1em solid rgb(211, 220, 211);
	transition: background 2s, border 0.5s 2s;
}
.animate:hover {
	background: rgb(211, 220, 211);
	border-color: rgb(94, 53, 53);
}
/* Specificitet: poäng i kategorierna id, klass, element.
Pseudoklasser: :hover, :active, :nth-child
Pseudoelement: ::before, ::after
 */
 /* 020 */
.timing > * {
	width: 3em;
	height: 3em;
	background-color: rgb(78, 107, 192);
	border: 1px solid rgb(50, 50, 111);
	margin: 0.1em;
	position: relative;
	left: 0%;
	transition: all 1.5s linear;
}
/* 020 */
.timing:hover > * {
	left: calc(100% - 3em - 2px - 0.2em);
}
/* 010 (0 id, 1 klass, 0 element */
.linear { transition-timing-function: linear; }
.ease-in { transition-timing-function: ease-in; }
.ease-out { transition-timing-function: ease-out; }
.ease-both { transition-timing-function: ease-in-out; }