* {
	box-sizing: border-box;
}

.container {
	border: 1px solid darkgray;
}


/* Animation delay */
.animate {
	height: 6em;
	width: 10em;
	background: rgb(94, 53, 53);
	border: 1em solid rgb(211, 220, 211);
	transition: background 2s, border 0.5s 2s;
}
.animate:hover {
	background: rgb(211, 220, 211);
	border-color: rgb(94, 53, 53);
}


/* Timing-funktioner */
/* Specificitet: poäng i kategorierna id, klass, element.
Pseudoklasser: :hover, :active, :nth-child
Pseudoelement: ::before, ::after
 */
 /* 020 */
.timing > * {
	width: 3em;
	height: 3em;
	background-color: rgb(78, 107, 192);
	border: 1px solid rgb(50, 50, 111);
	margin: 0.1em;
	position: relative;
	left: 0%;
	transition: all 1.5s linear;
}
/* 020 */
.timing:hover > * {
	left: calc(100% - 3em - 2px - 0.2em);
}
/* 010 (0 id, 1 klass, 0 element */
.linear { transition-timing-function: linear; }
.ease-in { transition-timing-function: ease-in; }
.ease-out { transition-timing-function: ease-out; }
.ease-both { transition-timing-function: ease-in-out; }


/* Animera flex-grow */
.flexbox {
	display: flex;
	flex-direction: row;
}
.flexbox > * {
	height: 2em;
	border: 1px solid rgb(5, 25, 5);
	background-color: rgb(59, 119, 59);
	transition: all 1s;
	flex-grow: 1;
}
.flexbox > :hover {
	flex-grow: 2;
	background-color: rgb(90, 151, 90);
}


/* Transform */
.transform {
	margin-top: 1em;
	border: 2px solid rgb(59, 8, 55);
	width: 8em;
	height: 4em;
	padding: 0.2em;
}
.percent {
	background-color: rgb(152, 68, 177);
	height: 100%;
	text-align: center;
}
.percent, .skew, .scale {
	transition: transform 1s ease-out;
}
.transform:hover .percent {
	transform: translateY(-50%);
}
/* Idag: bästa sättet att centrera är med display:grid och place-items:center */

.skew, .scale {
	border: 1px solid gray;
}
.transform:hover .skew {
	transform: skew(-30deg);
}
.transform:hover .scale {
	transform: scale(1.5, 0.5);
}

.keyframe {
	padding: 0.2em;
}

.keyframe > * {
	background-color: rgb(73, 175, 112);
	padding: 0.3em;
	width: 8em;
}
.keyframe:hover > * {
	animation: bounceback 2s;
	
	/* Ange hur det ska se ut efter animationen är klar */
	transform: translateX(10em);
}
@keyframes bounceback {
	0% {
		transform: translateX(0em);
	}
	50% {
		transform: translateX(15em) translateY(4em);
		background-color: rgb(106, 172, 199);
	}
	70% {
		transform: translate(15em, 2em) scale(1.5);
	}
	80% {
		transform: translateX(15em) scale(1);
	}
	100% {
		transform: translateX(10em);
	}
}